@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');

#headerwapper{
    max-width:1536px;
    margin: 0 auto;
}

header{
    background-color: #F9F9FB;
    width: 100%;
}

#headerwapper{
    width:1536px;
    margin: 0 auto;
}

#section1{
    width: 1536px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 16px;
}

#section2{
    width: 1536px;
    margin: 0 auto;
    text-align: center;
    /* padding: 10px; */
    padding-top: 15px;
    padding-bottom: 17px;
}

#section3{
    width: 1536px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 17px;
}

#section4{
    width: 1536px;
    margin: 0 auto;
    text-align: center;
    padding: 14px;
}

#section1 h3{
    padding: 20px;
    text-align: center;
    font-family: "Briem Hand", cursive;
}

#section2 h3{
    font-family: "Briem Hand", cursive;
    padding-bottom: 14px;
}

#section3 h3{
    font-family: "Briem Hand", cursive;
    padding-bottom: 14px;
}

#section4 h3{
    font-family: "Briem Hand", cursive;
    padding-bottom: 14px;
}

#div1section{
    text-align: center;
     padding: 133px;
}

#imagenesbanderas{
    display: flex
}

#imagenesbanderas img{
    width: 44px;
    margin-right: 10px;
    height: 23px;
}

#div2menu{
    display: flex;
}

#div2menu li{
    padding-right: 10px;
}

#div2menu a{
    text-decoration: none;
    color: rgb(120, 120, 120);
    font-size: 23px;
}

.bi-globe-americas{
    padding-right: 10px;
    font-size: 20px;
}

.section1fondo{
    background-color: #C2CBCD;
}

.section2fondo{
    background-color: #CFB594;
}

.section3fondo{
    background-color: #FCDCAB;
}

.section4fondo{
    background-color: #9D9E91;
}

.footerfondo{
    background-color: black;
}

.div1section1{
    display: flex;
    justify-content: space-around;
}

.footerfondo p{
    width: 1536px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    color: white;
}

.classnav{
    display: flex;
    justify-content: space-between;
}

.ubicacion{
    border-radius: 10px;
    width: 835px;
    height: 450px;
    box-shadow: 0px 0px 20px 12px rgb(255 255 255 / 50%);
}

.navmenusection1{
    text-align: left;
}

.navmenusection1 a{
    text-decoration: none;
    color: #000000;
    text-shadow: 0px 1px 9px #333;
}

.navmenusection1 li{
    font-weight: bold;
    text-shadow: 0px 1px 9px #333;
}

.certificardo{
    width: 450px;
    height: 199px;
    box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.certificardo2 a{
    text-decoration: none;
    text-shadow: 0px 1px 9px #333;
}