<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/experiencia.css">
    <link rel="icon" type="image/png" href="">

</head>
<body>
    <div id="wapper">
        <header>
            <div id="headerwapper">
                <div class="menu_bar">
                    <nav class="classnav">
                        <div>
                            <ul id="imagenesbanderas">
                                <li><a href="../index.html"><img src="./img/banderaespaña.png" alt="Idioma españa"></a></li>
                                <li><a href="./en/index_en.html"><img src="../img/banderaingles.png" alt="Idiomaingles"></a></li>
                            </ul>
                        </div>
                        <div>
                            <ul id="div2menu">
                                <li><a href="../index.html">Inicio</a></li>
                                <li><a href="../view/estudis.html">Estudios</a></li>
                                <li><a href="../view/experiencia.html">Experiencia</a></li>
                                <li><a href="../Document/curricuespereriencia.lumcv.pdf" download="CurriculumErickGutierrez">CV</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="section1fondo">
                <section id="section1">
                    <h3>Practicas CFGM <i class="bi bi-building"></i> </h3>
                </section>
            </div>
            <div class="section2fondo">
                <section id="section2">
                    <div class="section2div1">
                        <div class="section2div2">
                            <h3>Fundación Jesuitas Educación</h3>
                            <ul class="navmenusection2">
                                <li><a href="https://maps.app.goo.gl/8KavzGamnaxepYXt9"><i class="bi bi-geo-alt-fill"></i>Dirección: C/ de Roger de Llúria, 15, L'Eixample, 08010 Barcelona</a></li>
                                <li class="Telofono"><i class="bi bi-telephone-outbound-fill"></i>Telofono: 933012350</li>
                                <li><a href="https://www.fje.edu/ca/fje"><i class="bi bi-browser-edge"></i>Sitio Web</a></li>
                            </ul>
                            <p>Realicé estas prácticas en grado medio en la escuela central de jesuitas, educación, realicé 400 horas aproximadamente. Era becario de IT. Durante mi estancia en esta empresa realicé configuración de Windows montaje, desmontaje de dispositivos instalación de sistemas operativos y soporte técnico.</p>
                        </div>
                        <iframe  class="ubicacion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d374.1537241387562!2d2.171906768311095!3d41.39081570733625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a3a6a92c8dbf%3A0xaf08ee72a9721b41!2sFundaci%C3%B3n%20Jesuitas%20Educaci%C3%B3n!5e0!3m2!1ses!2ses!4v1714729577436!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </section>
            </div>
            <div class="section3fondo">
                <section id="section3">
                    <h3>Repartidor<i class="bi bi-building"></i> </h3>
                    <div class="section2div1">
                        <iframe  class="ubicacion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.9859214119233!2d2.1167149764626063!3d41.330919499495245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49f5a481da19f%3A0x4502e5642e0cc12f!2sBidfood%20Iberia%20-%20Guzm%C3%A1n!5e0!3m2!1ses!2ses!4v1714737216424!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="section2div2">
                            <h3>Bidfood Iberia - Guzmán</h3>
                            <ul class="navmenusection2">
                                <li><a href="https://maps.app.goo.gl/8KavzGamnaxepYXt9"><i class="bi bi-geo-alt-fill"></i>Carrer Longitudinal 5, 53, Mercabarna, Distrito de Sants-Montjuïc, 08040 Barcelona</a></li>
                                <li class="Telofono"><i class="bi bi-telephone-outbound-fill"></i>Telofono: 902227030</li>
                                <li><a href="https://bidfoodiberia.com/"><i class="bi bi-browser-edge"></i>Sitio Web</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="footerfondo">
                <p>&copy; Erick Gutierrez Rojas 2024</p>
            </div>
        </footer>
    </div>
</body>
</html>